@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&display=swap');
/*
==========================================================================================================================================
                             Remover Bordes
==========================================================================================================================================
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/img/black-marble.png');
    background-repeat: repeat-y;
    background-attachment: local;  
    background-size: cover;
    background-color: #1313a5!important;
    /*------------------ */
    min-height: 100vh;
}

/* Color texto*/
h1{
    color: whitesmoke
}
p{
    color: white;
}


/*
=================================================================================
                           Nav
=================================================================================
*/

.top-logo{
    position: sticky;
    padding-right: 5%;
}

a.tamanio{
    font-size: 0.8cm;
}

/*
=================================================================================
                         Footer
=================================================================================
*/
.sticky{
    background-color: #252525;
    color: antiquewhite;
    height: 80px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 100%;
    padding-bottom: 0;

}

.pie{
    margin-bottom: 5px;
}

.footer-icons{
    margin-top: 10px;
}

i{
    color:  rgb(184, 184, 2);
}
i:hover{
    color: yellow;
}
i:hover:active{
    color: orange
}
/*
=================================================================================
                           Fin de Footer
=================================================================================
*/

/*
=================================================================================
                             Inicio de Fuentes
=================================================================================
*/
.fuente-roboto{
    font-family: 'Roboto', sans-serif;
}
.fuente-pt-sans{
    font-family: 'PT Sans', sans-serif;
}
.fuente-shadows{
    font-family: 'Shadows Into Light', cursive;
    font-size: 200%;
}
/*
=================================================================================
                             Fin de Fuentes
=================================================================================
*/

/*
=================================================================================
                             Responsivo
=================================================================================
*/
@media screen and (max-width: 480px) {
    /* .footer-icons{
        position: absolute!important;
        bottom: 0;
        left: 174px;
        text-align: center;
    } */
    
}