body{
    min-height: 170vh!important;
}

.tablas{
    position: absolute;
    height: 960px;
    width: 1200px;
    top: 22%;
    left: 5%;
}

.titulo{
    margin-top: 1%;
    text-align: center;
}
/*
============================================================================
                                Tablas
============================================================================
*/
caption {
    color: rgba(245, 245, 245, 0.76)!important;
    padding: 10px;
}
table{
    width: 60%!important;
    margin-left:19%; 
    margin-right:15%;
    caption-side: top!important;
    color: orange!important;
    border-collapse: collapse!important;
    padding-bottom: 1%;
}

th, td{
    padding: 14px!important;
}

thead{
    background-color: grey;
    color: whitesmoke;
}
tr:hover{
    color: rgb(250, 79, 79)!important;
    background-color: rgb(255, 192, 75);
}


/* Reponsivo */

@media screen and (max-width: 480px) {

    body{
        min-height: 141vh!important;
    }

    .tablas{
        position: absolute;
        height: 1026px;
        width: 432px;
        top: 12%;
        left: 0;
        /* margin: 0; */
        overflow-x: auto;
        margin-left: 1px;
    }

    table{
        width: 420px!important;
        margin-left: 0; 
        margin-right:15%;
        caption-side: top!important;
        color: orange!important;
        border-collapse: collapse!important;
        padding-bottom: 1%;
    }
    
    th, td{
        padding: 10px!important;
    }

    .titulo{
        margin-top: 1%;
        text-align: center;
    }
    
  }