.principal{
    position: absolute;
    top: 11%;
    height: 100%;
    width: 100%;
}


.titulo{
    width: auto;
    height: auto;
    margin-top: 3%;
    text-align: center;
}
.frente{
    width: auto;
    height: auto;
    text-align: center;
}
.principal{
    height: 75%!important;
}
.mega-symbol{
    position: absolute;
    height: 40%;
    width: 40%;
    top: 15%;
    left: 30%;
}
.rattlehead{
    position: absolute;
    top: 40%;
    left: 38%;
}

@media screen and (max-width: 480px) {
    /* For mobile phones: */

    .mega-symbol{
        position: absolute;
        height: 50%;
        width: 100%;
        top: 10%;
        left: 0%;
    }
    .rattlehead{
        position: absolute;
        top: 40%;
        left: 14%;
    }
    
  }