.contenedor{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20%;
    left: 10%;
    border-color: white!important;
    border: 2px;
    border-style: solid;
    padding: 15px;
}